{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <h1 class="text-center"><b>Panel logowania</b></h1>
    </br>
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
