{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <h1 class="text-center"><b>Profil użytkownika</b></h1>
    </br>
    {% include "@FOSUser/Profile/show_content.html.twig" %}
{% endblock fos_user_content %}
