{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center" style="margin-top: 10px"><b>Edycja aukcji</b></h1>
    <div class="card p-3">
        <div class="card-body">
            {# Formularz edycji aukcji #}
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
